<div class="read-article"> 
  <h2 class="read-article-title">{{info.title}}</h2>
  <h5 class="read-article-author"><i>{{author}}</i></h5>
  {{#each body}}
  <h5 class="read-article-p">{{this}}</h5>
  {{/each}}
  
</div>


<div class="row comment comment-input">
   <form action="/comments/{{info._id}}" method="POST" class="card-panel">
    <h3 class="comment-head">Comment on this Article:</h3>
      <div class="row">
        <div class="input-field">
          <center><div class="input-title">name</div>
          <input type="text" placeholder="Name" name="name"></center>
        </div>
        <div class="input-field">
          <center><div class="input-title">comment</div>
          <textarea type="text" placeholder="Comment" name="comment"></textarea></center>
        </div>
      </div>
      
      <div class="row">
        <div class="input-field">
        <center><input class="btn add-comment-button" type="submit" value="Submit"></center>
        </div>
      </div>
    </form>
</div>

{{!-- comments --}}
<div class="row">
    <div class=" comment comment-list">
      <h3 class="comment-head">Comments:</h3>
        {{#if info.comments}}
          {{#each info.comments}}
            <div class="comment-list-display">
              <p class="comment-list-name" id="nameComment"><i>{{name}} : </i></p>
              <p class="comment-list-content">{{body}}<p>
            </div>
          {{/each}}
          {{else}}
          <p>No Comments Yet.</p>
          <p>Come and Be the First Person to Leave One!</p>
        {{/if}}
    </div>
</div>